beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
Faker==24.2.0
idna==3.6
libretranslatepy==2.1.1
lxml==5.2.2
numpy==1.26.4
pygame==2.5.2
PyQt5==5.15.10
PyQt5-Qt5==5.15.13
PyQt5-sip==12.13.0
PyQt5-stubs==5.15.6.0
python-dateutil==2.9.0.post0
PyYAML==6.0.1
requests==2.31.0
six==1.16.0
soupsieve==2.5
translate==3.6.1
urllib3==2.2.1
